# Dependencies
node_modules

# Build output
dist
.astro

# Env
*.local
.env
.env.*
!.env.example

# Build artifacts
.vercel
.atl

# Logs
*.log
npm-debug.log*

# OS
.DS_Store

# Editor
.vscode/*
!.vscode/extensions.json
.idea
